#one{text-align: center;
background-color: #EA7773;
color:white;
font-size: xxx-large;
font-family: Grenze Gotisch, cursive;
}

#two{color:#EA425C;}

#spider{letter-spacing: 4px;}

#cbjuniour{text-decoration: none;}

#cap{ text-align: right;
text-decoration: overline;
color:#487EB0;}

#bold{font-weight: 550;
}

#america{
    word-spacing: 15px;}

#iron{text-align: center;
color:#EEC213;
text-decoration: underline;
background-color: #487EB0;}

#man{text-decoration: line-through;}


#style{direction: rtl;
unicode-bidi: bidi-override;
word-spacing: 5px;}
