h1{color:red;}

#food{color:blue;}

.type{color:purple;}

#dal{color:rgb(214, 148, 5);}

#emerland{color:rgb(16, 166, 212);}

#category{color:purple;}

#oil{color:red;}

#foam{color:rgb(88, 221, 11);}

.same1{color:green;}

.same2{color:rgb(233, 233, 54);}

.same3{color:rgb(194, 83, 216);}
